
.Header{
    background-color: #FFC5C5;
    font-size:30px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.content{
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/11739.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: 20px;
    font-size: 25px;
    
}
input{
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
}
textarea{
    border-radius: 20px;
    height: 60px;
    padding-left: 10px;
}
select{
    border-radius: 80px;
    height: 30px;
    padding-left: 10px;
}
.reset-box{
    background-color: #FFC5C5;
    width: 80px;
    font-weight:bold;
    font-size: 15px;
}
.submit-box{
    background-color: #FFC5C5;
    width: 80px;
    font-size: 15px;
    font-weight:bold;
}
tr>td{
    padding-bottom: 5px;
}

